
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Nhóm khách hàng</title>
    <link href="~/Content/css/V6.css" rel="stylesheet" />
    <link href="~/Content/css/V6WebControls.css" rel="stylesheet" />

    <link href="~/Content/css/themes/base/jquery.ui.datepicker.css" rel="stylesheet" />

    <script src="~/Scripts/core/jquery/jquery-2.1.0.min.js"></script>
    <script src="~/Scripts/lib/jquery-ui/jquery-ui-1.10.4.min.js"></script>

    <script src="~/Scripts/app/controls/V6Functions.js"></script>
    <script src="~/Scripts/app/controls/V6Tab.js"></script>

    <link rel="shortcut icon" href="~/V6Soft.ico" />

    <style type="text/css">
        #ui-datepicker-div {
            display: none;
        }
    </style>
</head>
<body>
    <div> 
        <h1 style="text-align:center">Thông tin nhóm khách hàng</h1>

        <div id="Panel1" class="biggroup normalsize borderconer graybackground" style="height:120px;margin-top:4px;">
            <div id="ad11" style="float:left;width:600px;">
                <span>Mã nhóm</span>
                <input type="text" id="Code" v6type="field" valuetype="s" style="width:300px;"
                       class="v6Star v6Uppercase" field="ma_nh" seek="10" autocomplete="off"
                       vvar="ma_nhom" looks="TEN_KH,txt__ma_kh__DIA_CHI,txt__ma_kh__MA_SO_THUE" /><br />
                <span>Tên nhóm</span>
                <input type="text" id="Name" v6type="field" valuetype="s" style="width:300px;" />
                <span>Tên 2</span>
                <input type="text" id="OtherName" v6type="field" valuetype="s" style="width:300px;" /><br />
                
            </div>
            <div id="ad11" style="float:left;width:350px;">
                <span>Loại nhóm</span>
                <input type="text" id="Type" v6type="field" valuetype="i" class="v6Number" /><br />
                <span>Tình trạng</span>
                <input type="text" id="Status" v6type="field" valuetype="s" /><br />
            </div>
          
        </div>

        <div id="Tab" class="tabsbutton">
            <span id="Span1" tabid="0" class="active-tab-btn">Thông tin chính</span>
            <span id="Span2" tabid="1">Thông tin công nợ</span>
            <span id="Span3" tabid="2" title="Hướng dẫn sử dụng trang. Nếu bạn còn lúng túng trong cách sử dụng thì bạn nên xem qua trang hướng đẫn này!">Hướng dẫn</span>
        </div>
        <div id="Tab_content" class="tab-content graybackground" style="height:auto;">

            <div class="tab-pane show" id="Tab_0">
                <div id="AMgeneral" class="normalsize" style="height:150px;">
                    <div id="am11" style="width:350px;float:left;">
                        <span>CheckSync</span>      <input type="text" v6type="field" valuetype="s" id="CheckSync" class="v6Uppercase" value="" />       <br />
                    </div>
                    
                </div>
            </div>

            <div class="tab-pane" id="Tab_1">
                <div id="AMshowhide" class="normalsize" style="height:150px;">
                    <div id="am11" style="width:350px;float:left;">
                        <span>Tk ngầm định</span>  <input type="text" v6type="0field" valuetype="s" id="TaiKhoanCongNo" class="v6Star v6Uppercase" value="" /><br />
                        <span>Mã TT ng.định</span>    <input type="text" v6type="0field" valuetype="s" id="MA_HTTT" class="v6Uppercase" value="" />    <br />
                        <span>Ghi chú</span>     <textarea v6type="0field" id="GhiChu"></textarea>
                    </div>
                    <div id="am11" style="width:350px;float:left;">
                        <span>Mã nhân viên bán</span><input type="text" v6type="0field" valuetype="s" id="manv" class="v6Uppercase" value="" />   <br />
                        <span>Giới hạn công nợ</span><input type="text" v6type="0field" valuetype="m" id="ghcn" class="v6Number" decimal="2" value="" />   <br />
                        <span>Ngày giới hạn</span>   <input type="text" v6type="0field" valuetype="date" format="d/M/yyyy" id="NgayGioiHan" class="v6Date" /><br />

                        <span>KH</span>   <input type="checkbox" v6type="0field" valuetype="b" id="LaKhachHang" /><br />
                        <span>CC</span>   <input type="checkbox" v6type="0field" valuetype="b" id="LaNhaCungCap" /><br />
                        <span>NV</span>   <input type="checkbox" v6type="0field" valuetype="b" id="LaNhanVien" /><br />
                    </div>

                </div>
            </div>

            <div class="tab-pane" id="Tab_2">
                <div id="AMshowhide" class="normalsize" style="height:150px;">
                    <div id="am11" style="width:350px;float:left;">
                        <span>Tk ngầm định</span>  <input type="text" v6type="0field" valuetype="s" id="TaiKhoanCongNo" class="v6Star v6Uppercase" value="" /><br />
                        <span>Mã TT ng.định</span>    <input type="text" v6type="0field" valuetype="s" id="MA_HTTT" class="v6Uppercase" value="" />    <br />
                        <span>Ghi chú</span>     <textarea v6type="0field" id="GhiChu"></textarea>
                    </div>
                    <div id="am11" style="width:350px;float:left;">
                        <span>Mã nhân viên bán</span><input type="text" v6type="0field" valuetype="s" id="manv" class="v6Uppercase" value="" />   <br />
                        <span>Giới hạn công nợ</span><input type="text" v6type="0field" valuetype="m" id="ghcn" class="v6Number" decimal="2" value="" />   <br />
                        <span>Ngày giới hạn</span>   <input type="text" v6type="0field" valuetype="date" format="d/M/yyyy" id="NgayGioiHan" class="v6Date" /><br />

                        <span>KH</span>   <input type="checkbox" v6type="0field" valuetype="b" id="LaKhachHang" /><br />
                        <span>CC</span>   <input type="checkbox" v6type="0field" valuetype="b" id="LaNhaCungCap" /><br />
                        <span>NV</span>   <input type="checkbox" v6type="0field" valuetype="b" id="LaNhanVien" /><br />
                    </div>

                </div>
            </div>

        </div>

            <div id="button" class="commandbutton">
                <span id="buttonAdd" url="../Customer/CustomerApi/AddCustomerGroup">Add</span>
                <span id="button2">Command 2</span>
                <span id="button3">Hướng dẫn</span>
            </div>

        </div>
    <script src="~/Scripts/lib/jquery.mousewheel.js"></script>

    <script src="~/Scripts/app/controls/V6ControlsEvent.js"></script>
    <script src="~/Scripts/app/controls/V6Popup.js"></script>

    <script src="~/Scripts/app/controls/V6Number.js"></script>
    <script src="~/Scripts/app/controls/V6WebControls.js"></script>

    <script src="~/Scripts/app/AddEditModel.js"></script>

    
</body>
</html>
