
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Quốc gia</title>
    <link href="~/Content/css/V6.css" rel="stylesheet" />
    <link href="~/Content/css/V6WebControls.css" rel="stylesheet" />

    <link href="~/Content/css/themes/base/jquery.ui.datepicker.css" rel="stylesheet" />

    <script src="~/Scripts/core/jquery/jquery-2.1.0.min.js"></script>
    
    <script src="~/Scripts/lib/jquery-ui/jquery-ui-1.10.4.min.js"></script>
    <script src="~/Scripts/app/controls/V6Tab.js"></script>

    <link rel="shortcut icon" href="~/V6Soft.ico" />

    <style type="text/css">
        #ui-datepicker-div {
            display: none;
        }
    </style>
</head>
<body>
    <div> 
        <h1 style="text-align:center">Quốc gia</h1>

        <div id="Panel1" class="biggroup normalsize borderconer graybackground" style="height:80px;margin-top:4px;">
            <div id="ad11" style="float:left;width:600px;">
                <span>Mã quốc gia</span>
                <input type="text" id="MA_QG" style="width:300px;"
                       class="v6Star v6vVarTextBox v6Uppercase v6autocorrect" field="ma_qg" seek="10" autocomplete="off"
                       vvar="ma_qg" looks="TEN_KH,txt__ma_kh__DIA_CHI,txt__ma_kh__MA_SO_THUE" /><br />
                <span>Tên quốc gia</span>
                <input type="text" id="ten_qg" style="width:300px;"/><br />
                <span>Tên 2</span>
                <input type="text" id="ten_qg2" style="width:300px;"/><br />
            </div>
          
        </div>

        <div id="Tab" class="tabsbutton">
            <span id="Span1" tabid="0" class="active-tab-btn">Thông tin chính</span>
            <span id="Span2" tabid="1">Thông tin công nợ</span>
            <span id="Span3" tabid="2" title="Hướng dẫn sử dụng trang. Nếu bạn còn lúng túng trong cách sử dụng thì bạn nên xem qua trang hướng đẫn này!">Hướng dẫn</span>
        </div>
        <div id="Tab_content" class="tab-content graybackground" style="height:auto;">

            <div class="tab-pane show" id="Tab_0">
                <div id="AMgeneral" class="normalsize" style="height:150px;">
                    <div id="am11" style="width:350px;float:left;">
                        <span>Trạng thái</span>   <input type="checkbox" id="status" class="" /><br />
                        <span>Ghi chú</span> <textarea></textarea><br />
                    </div>


                </div>
            </div>

            <div class="tab-pane" id="Tab_1">
                <div id="AMshowhide" class="normalsize" style="height:150px;">
                    <div id="am11" style="width:350px;float:left;">
                        <span>Mã 1</span>   <input type="text" id="ma_td1" class="v6Uppercase" value="" /><br />
                        <span>Mã 2</span>   <input type="text" id="ma_td2" class="v6Uppercase" value="" /><br />
                        <span>Mã 3</span>   <input type="text" id="ma_td3" class="v6Uppercase" value="" /><br />

                        <span>Ngày 1</span>   <input type="text" id="ngay_td1" class="v6Date" value="" /><br />
                        <span>Ngày 2</span>   <input type="text" id="ngay_td2" class="v6Date" value="" /><br />
                        <span>Ngày 3</span>   <input type="text" id="ngay_td3" class="v6Date" value="" /><br />
                    </div>
                    <div id="am11" style="width:350px;float:left;">
                        <span>Số lượng 1</span>   <input type="text" id="sl_td1" class="v6Uppercase v6Number" value="" /><br />
                        <span>Số lượng 2</span>   <input type="text" id="sl_td2" class="v6Uppercase v6Number" value="" /><br />
                        <span>Số lượng 3</span>   <input type="text" id="sl_td3" class="v6Uppercase v6Number" value="" /><br />

                        <span>Ghi chú 1</span>   <input type="text" id="gc_td1" class="v6Uppercase" value="" /><br />
                        <span>Ghi chú 2</span>   <input type="text" id="gc_td2" class="v6Uppercase" value="" /><br />
                        <span>Ghi chú 3</span>   <input type="text" id="gc_td3" class="v6Uppercase" value="" /><br />
                    </div>

                </div>
            </div>

            <div id="Tab_2" class="tab-pane" tabid="2">
                <div id="DivHD1" class="pagehelp"
                     style="width:980px;height:auto;">
                    <h3 style="text-align:center">Chưa có hướng dẫn</h3>
                    <div id="help_content" style="text-align:justify">
                        <h4>Chưa có dữ liệu.</h4>
                        <p>
                            Nodata!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    
        
    </div>
    
    <script src="~/Scripts/lib/jquery.mousewheel.js"></script>

    <script src="~/Scripts/app/controls/V6ControlsEvent.js"></script>
    <script src="~/Scripts/app/controls/V6Popup.js"></script>
    
    <script src="~/Scripts/app/controls/V6Number.js"></script>
    <script src="~/Scripts/app/controls/V6WebControls.js"></script>

    
</body>
</html>
