
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thuế suất</title>
    <link href="~/Content/css/V6.css" rel="stylesheet" />
    <link href="~/Content/css/V6WebControls.css" rel="stylesheet" />

    <link href="~/Content/css/themes/base/jquery.ui.datepicker.css" rel="stylesheet" />

    <script src="~/Scripts/core/jquery/jquery-2.1.0.min.js"></script>
    
    <script src="~/Scripts/lib/jquery-ui/jquery-ui-1.10.4.min.js"></script>
    <script src="~/Scripts/app/controls/V6Tab.js"></script>

    <link rel="shortcut icon" href="~/V6Soft.ico" />

    <style type="text/css">
        #ui-datepicker-div {
            display: none;
        }
    </style>
</head>
<body>
    <div> 
        <h1 style="text-align:center">Thuế suất</h1>

        <div id="Panel1" class="biggroup normalsize borderconer graybackground" style="height:120px;margin-top:4px;">
            <div id="ad11" style="float:left;width:350px;">
                <span>Mã thuế</span>
                <input type="text" id="ma_vt" /><br />
                <span>Tên thuế</span>
                <input type="text" id="ma_kh" /><br />
                <span>Tên 2</span><input type="checkbox" id="status" class="checkbox" /><br />
            </div>
            <div id="ad11" style="float:left;width:350px;">
                <span>Thuế suất</span>
                <input type="text" id="so_dang_ky" /><br />
                <span>TK GTGT đầu ra</span>
                <input type="text" id="ten_lo" /><br />
                <span>TK GTGT đầu ra được giảm</span>
                <input type="text" id="ten_lo" /><br />
                <span>Trạng thái</span>
                <input type="text" id="ten_lo" /><br />
            </div>
        </div>

        <div id="button" class="commandbutton">
            <span id="button1">Command 1</span>
            <span id="button2">Command 2</span>
            <span id="button3">Hướng dẫn</span>
        </div>
       
    
        
    </div>
    
    <script src="~/Scripts/lib/jquery.mousewheel.js"></script>

    <script src="~/Scripts/app/controls/V6ControlsEvent.js"></script>
    <script src="~/Scripts/app/controls/V6Popup.js"></script>
    
    <script src="~/Scripts/app/controls/V6Number.js"></script>
    <script src="~/Scripts/app/controls/V6WebControls.js"></script>

    
</body>
</html>
