
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vật tư</title>
    <link href="~/Content/css/V6.css" rel="stylesheet" />
    <link href="~/Content/css/V6WebControls.css" rel="stylesheet" />
    <link href="~/Content/css/V6AutoCorrect.css" rel="stylesheet" />
    <link href="~/Content/css/pure-min0.css" rel="stylesheet" />

    <link href="~/Content/css/themes/jquery-ui/redmond/jquery-ui.theme.min.css" rel="stylesheet" />

    <script src="~/Scripts/core/jquery/jquery-2.1.0.min.js"></script>
    <script src="~/Scripts/lib/jquery-ui/jquery-ui-1.10.4.min.js"></script>

    <script src="~/Scripts/lib/CryptoJSv3.1.2/rollups/aes.js"></script>
    <script src="~/Scripts/lib/CryptoJSv3.1.2/components/mode-ecb.js"></script>
    <script src="~/Scripts/lib/CryptoJSv3.1.2/components/pad-ansix923.js"></script>

    <script src="~/Scripts/app/controls/V6Functions.js"></script>
    <script src="~/Scripts/app/controls/V6Tab.js"></script>
    <script src="~/Scripts/app/controls/v6autocorrect.js"></script>

    <link rel="shortcut icon" href="~/V6Soft.ico" />

    <style type="text/css">
        #ui-datepicker-div {
            display: none;
        }
    </style>
</head>
<body>
    <div>
        <h1 style="text-align:center">Thông tin vật tư</h1>

        <div id="Panel1" class="biggroup normalsize borderconer bluebackground" style="margin-top:4px;">
            <div id="p11" style="float:left;width:350px;">
                <span>Mã vật tư</span>  <input type="text" v6type="field" valuetype="s" id="Code" /><br />
                <span>Tên vật tư</span> <input type="text" v6type="field" valuetype="s" id="Name" /><br />
                <span>Tên 2</span>      <input type="text" v6type="field" valuetype="s" id="OtherName" />
            </div>
            <div id="p12" style="float:left;width:350px;">
                <span>Part no</span>    <input type="text" v6type="field" valuetype="s" id="part_no" /><br />
                <span>Barcode13</span>  <input type="text" v6type="field" valuetype="s" id="barcode" />
                <span>Tình trạng</span> <input type="checkbox" v6type="field" valuetype="b" id="status" /><br />
            </div>
        </div>

        <div id="Tab" class="tabsbutton">
            <span id="Span1" tabid="0" class="active-tab-btn">Thông tin chi tiết</span>
            <span id="Span2" tabid="1">Thông tin nhóm vật tư</span>
            <span id="Span3" tabid="2" title="Hướng dẫn sử dụng trang. Nếu bạn còn lúng túng trong cách sử dụng thì bạn nên xem qua trang hướng đẫn này!">Hướng dẫn</span>
        </div>
        <div id="Tab_content" class="tab-content biggroup bluebackground" style="height:300px;">

            <div class="tab-pane show" id="Tab_0">
                <div id="tabpage01" class="normalsize" style="height:150px;">
                    <div id="am11" style="width:350px;float:left;">
                        <span>ĐVT</span>    <input type="text" v6type="field" valuetype="s" id="dvt" class="" value="" />       <br />
                        <span>ĐVT 1</span> <input type="text" v6type="field" valuetype="s" id="dvt1" class="" value="" />   <br />
                        <span>Hệ số 1</span>      <input type="text" v6type="field" valuetype="s" id="hs1" class="" />              <br />
                        <span>VT Tồn kho</span>        <input type="text" v6type="field" valuetype="s" id="vttonkho" class="" /><br />
                        <span>Giá tồn</span> <input type="text" v6type="field" valuetype="s" id="gia_ton" class="" /><br />
                        <span>Tài khoản kho/đl</span>     <input type="text" v6type="field" valuetype="s" id="tkdl" />    <br />
                    </div>

                    <div id="tab1right" style="width:350px;float:left;">
                        <span>tk cl vt</span>  <input type="text" id="dien_thoai" />   <br />
                        <span>Tài khoản vt</span>        <input type="text" v6type="field" valuetype="s" id="tk_vt" />    <br />
                        <span>Tài khoản giá vốn</span>      <input type="text" v6type="field" valuetype="s" id="tk_gv" />  <br />
                        <span>Tk dt</span>  <input type="text" v6type="field" valuetype="s" id="tk_dt" /><br />
                        <span>Tk tl</span>  <input type="text" v6type="field" valuetype="s" id="tk_tl" /><br />
                        <span>Tk spdd</span><input type="text" v6type="field" valuetype="s" id="tk_spdd" /><br />
                    </div>

                </div>
            </div>

            <div class="tab-pane" id="Tab_1">
                <div id="AMshowhide" class="normalsize" style="height:150px;">
                    <div id="am11" style="width:350px;float:left;">
                        <span>Nhóm vt1</span>   <input type="text" v6type="field" valuetype="s" id="nh_vt1" class="v6Uppercase" value="" /><br />
                        <span>Nhóm vt2</span>   <input type="text" v6type="field" valuetype="s" id="nh_vt2" class="v6Uppercase" value="" />    <br />
                        <span>Nhóm vt3</span>   <input type="text" v6type="field" valuetype="s" id="nh_vt3" class="v6Uppercase" value="" />    <br />
                    </div>
                    <div id="am11" style="width:350px;float:left;">
                        <span>Nhóm vt4</span>   <input type="text" v6type="field" valuetype="s" id="nh_vt4" class="v6Uppercase" value="" />   <br />
                        <span>Nhóm vt5</span>   <input type="text" v6type="field" valuetype="s" id="nh_vt5" class="v6Uppercase" value="" />   <br />
                        <span>Nhóm vt6</span>   <input type="text" v6type="field" valuetype="s" id="nh_vt6" class="v6Uppercase" /><br />

                    </div>

                </div>
            </div>

            <div id="Tab_2" class="tab-pane" tabid="2">
                <div id="DivHD1" class="pagehelp" style="width:970px;height:1000px;">
                    <h2 style="text-align:center">Chưa có hướng dẫn</h2>
                    <div style="text-align:justify">
                        <h4>ABCDE</h4>
                        <p>
                            <span>&nbsp;&nbsp;&nbsp;</span>
                            abc abc abc.<br />
                            <span>&nbsp;&nbsp;&nbsp;</span>
                            def def!<br />
                            <span>&nbsp;&nbsp;&nbsp;</span>
                            ghi.
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>

        <div id="button" class="commandbutton">
            <span id="buttonAdd" url="../Customer/CustomerApi/AddModel"
                  modelindex="2">Add</span>
            <span id="button2">Command 2</span>
            <span id="button3">Hướng dẫn</span>
        </div>

    </div>
    <script src="~/Scripts/lib/jquery.mousewheel.js"></script>

    <script src="~/Scripts/app/controls/V6ControlsEvent.js"></script>
    <script src="~/Scripts/app/controls/V6Popup.js"></script>

    <script src="~/Scripts/app/controls/V6Number.js"></script>
    <script src="~/Scripts/app/controls/V6WebControls.js"></script>

    <script src="~/Scripts/app/AddEditModel.js"></script>

    
</body>
</html>
