USE [ThienHa14]
GO
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.ALnhkh ADD
	UID uniqueidentifier NOT NULL CONSTRAINT DF_ALnhkh_UID DEFAULT (newsequentialid())
GO
ALTER TABLE dbo.ALnhkh ADD CONSTRAINT
	UN_ALnhkh_UID UNIQUE NONCLUSTERED 
	(
	UID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.ALnhkh SET (LOCK_ESCALATION = TABLE)
GO
COMMIT