<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bai_Tap_Thep__Povision.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Bai_Tap_Thep__Povision.Properties.Settings>
            <setting name="Bai_Tap_Thep__Povision_PublishServices_PublishService"
                serializeAs="String">
                <value>https://dv204admindemo.vnpt-invoice.com.vn/PublishService.asmx</value>
            </setting>
            <setting name="Bai_Tap_Thep__Povision_PortalServices_PortalService"
                serializeAs="String">
                <value>https://dv204admindemo.vnpt-invoice.com.vn/PortalService.asmx</value>
            </setting>
            <setting name="Bai_Tap_Thep__Povision_BusinessServices_BusinessService"
                serializeAs="String">
                <value>https://dv204admindemo.vnpt-invoice.com.vn/BusinessService.asmx</value>
            </setting>
        </Bai_Tap_Thep__Povision.Properties.Settings>
    </applicationSettings>
</configuration>