USE [master]
GO

IF EXISTS(select * from sys.databases where name='V6Accounting')
DROP DATABASE [V6Accounting]
GO

CREATE DATABASE [V6Accounting]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [V6Accounting].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO