<div class="portlet light">
    <div class="portlet-title">
        <div class="caption font-green-haze">
            <i class="icon-settings font-green-haze"></i>
            <span class="caption-subject bold uppercase"> {{model.title}}</span>
        </div>
        <div class="actions">
            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title="">
            </a>
        </div>
    </div>
    <div class="portlet-body form">
        <form role="form" class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group form-md-line-input has-error">
                        <label class="col-md-3 control-label" for="warehouse_code">Mã kho</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control input-sm" id="warehouse_code" placeholder="">
                            <div class="form-control-focus"></div>
                            <span class="help-block">Some help goes here...</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-md-line-input">
                        <label class="col-md-3 control-label" for="name_1">Tên kho</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control input-sm" id="name_1" placeholder="">
                            <div class="form-control-focus">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group form-md-line-input">
                        <label class="col-md-3 control-label" for="name_2">Tên tiếng anh</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control input-sm" id="name_2" placeholder="">
                            <div class="form-control-focus">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-md-line-input">
                        <label class="col-md-3 control-label" for="agent_account">Tài khoản đại lý</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control input-sm" id="agent_account" placeholder="">
                            <div class="form-control-focus">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group form-md-line-input">
                        <label class="col-md-3 control-label" for="stt">Số thứ tự NTXT</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control input-sm" id="stt" placeholder="">
                            <div class="form-control-focus">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-md-line-input">
                        <label class="col-md-3 control-label" for="stocker_name">Tên thủ kho</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control input-sm" id="stocker_name" placeholder="">
                            <div class="form-control-focus">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group form-md-line-input">
                        <label class="col-md-3 control-label" for="address">Địa chỉ</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control input-sm" id="address" placeholder="">
                            <div class="form-control-focus">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-md-line-input">
                        <label class="col-md-3 control-label" for="fax">Fax</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control input-sm" id="fax" placeholder="">
                            <div class="form-control-focus">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group form-md-line-input">
                        <label class="col-md-3 control-label" for="email">Email</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control input-sm" id="email" placeholder="">
                            <div class="form-control-focus">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-md-line-input">
                        <label class="col-md-3 control-label" for="transportation_code">Mã vận chuyển</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control input-sm" id="transportation_code" placeholder="">
                            <div class="form-control-focus">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group form-md-line-input">
                        <label class="col-md-3 control-label" for="unit_code">Mã đơn vị</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control input-sm" id="unit_code" placeholder="">
                            <div class="form-control-focus">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-9">
                        <div class="col-md-offset-12 col-md-12">
                            <button type="button" class="btn default">Cancel</button>
                            <button type="button" class="btn blue">Submit</button>
                        </div>    
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>