/*
    Table of content:
    @Menu
*/
/* @Menu */
body .menu-tree__item--waiting {
  text-align: center;
  float: none; }
  body .menu-tree__item--waiting + .menu-tree__item {
    display: none; }

/* Menu item in content page */
.menu-item--in-page {
  margin-bottom: 10px;
  position: relative;
  text-align: left;
  padding-left: 40px;
  /* Menu icon */ }
  .menu-item--in-page :first-child {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.3em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2); }
