input[type="button"]
{
	background: #0A85A8;
	background: -moz-linear-gradient(25% 75% 90deg, #0A85A8, #18A5CC) repeat scroll 0 0 transparent;
	border: medium none;
    border-radius: 4px 4px 4px 4px;
    color: #EEEEEE;
    font-weight:bold;
    font-size: 14px;
/*
    margin-top: 10px;
    padding: 7px 14px;
*/
    text-transform: uppercase;
}
input[type="button"]:hover
{
	background: #18A5CC none repeat;
	background: -moz-linear-gradient(25% 75% 90deg, #1A95B8, #28B5DC) repeat scroll 0 0 transparent;
}
input[type="button"]:disabled
{
	background: #DDDDDD;
	background: -moz-linear-gradient(25% 75% 90deg, #DDD, #EEE) repeat scroll 0 0 transparent;
}
input[type="text"]:hover
{
    /*background-color:Yellow;*/
    -moz-box-shadow:0 0 8px Yellow;
    -webkit-box-shadow:0 0 15px Yellow;
    box-shadow:0 0 15px Yellow;
}
input[type="text"]:focus
{
    background-color:#B4FFB4;
    /*
    -moz-box-shadow:0 0 8px lime;
    -webkit-box-shadow:0 0 15px lime;
    box-shadow:0 0 15px lime;
        */
}

.graybackground
{
	background: #EEEEEE;
	background: -moz-linear-gradient(25% 75% 90deg, #DDDDDD, #EEEEEE) repeat;
    border:1px solid #000;
}

.bluebackground
{
    background-color: #d9edf7;
    border:1px solid #92e1f1;
}

.borderconer
{
    border-radius: 4px 4px 4px 4px;
}
.borderconer4
{
    border-radius: 4px 4px 4px 4px;
}

.tabsbutton
{
    width:1000px;
    height:25px;
    margin:15px auto 0px auto;
}

.tabsbutton span
{
	color:gray;
	font-weight:bold;
    padding-top:5px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:5px;
    border:1px solid #bce8f1;
    border-bottom:none;
    border-radius: 4px 4px 0 0;
    font: bold 15px airal,tahoma;
}
.tabsbutton span:hover
{
    background-color:#d9edf7;
    background: -moz-linear-gradient(25% 75% 90deg, #d9edf7, #92e1f1) repeat;
    border-color:#92e1f1;
            
    cursor:pointer;
}
.active-tab-btn
{	
    background: -moz-linear-gradient(25% 75% 90deg, #d9edf7, #92e1f1) repeat;
    background: #d9edf7;
    color:Black!important;
    
    padding-bottom:8px!important;
    border-color: #92e1f1 !important;
    border-style: solid;
    border-width: 1px;
    
    cursor: default;
}
/*.CommandButton
{
	width:1000px;
	height:30px;
	margin:0px auto 0px auto;
}*/
.commandbutton
{
    width:1000px;
    height:25px;
    margin:15px auto 0px auto;
}
.commandbutton span
{
	color:black;
	font-weight:bold;
    padding-top:5px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:5px;
    border:1px solid #DDDDDD;
    
    border-radius: 4px;
}
.commandbutton span:hover
{		
    background-color:#DDDDDD;
    background: -moz-linear-gradient(25% 75% 90deg, #EEEEEE, #DDDDDD) repeat;
    border-color:Gray;
            
    cursor:pointer;
}



.tab-content
{
    width:1000px;
    border-width:1px;
    border-style:solid;
    
    padding:5px 10px 5px 10px;
    margin: 0 auto;
    border-radius: 4px 4px 4px 4px;
    
}
.tab-pane
{
    display:none;
}
.show{display:block!important;}
.hide{display:none!important;}
        
.biggroup
{	
    width:1000px;
    overflow:auto;
	margin:0px auto 0px auto;
	padding:5px 10px 5px 10px;
}
.biggroup input[readonly=readonly]
{
	background-color:#EBEBEE;
}
.biggroup input
{   
    padding: 4px 4px;
    margin:1px;
    display: inline-block;
    border: 1px solid RGB(114,169,211);
    box-shadow: inset 0 1px 3px #e8f5fb;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.tabcontainer
{
	width:1000px;
}


.pagehelp
{
	background:white;
	border:1px solid black;
	border-radius: 4px 4px 4px 4px;
	padding:10px;
	position:relative;
	overflow:auto;
	z-index:99;
}

.normalsize
{   
 
}
.normalsize span,label
{
    float:left;
    width:150px;
    height:20px;
    font:normal 14px arial,tahoma;
}
.size110 span, label {
  float: left;
  width: 110px;
  height: 20px;
}
.size110 input[type=text] {
  width: 120px;
  margin: 2px;
}
.size100 input[type=text] {
  width: 100px;
  margin: 2px;
}
.size75 span, label {
  float: left;
  width: 75px;
  height: 20px;
}
.size75 input[type=text] {
  width: 80px;
  margin: 2px;
}
.normalsize label{white-space:nowrap}
.normalsize input[type=text]
{
    float:left;
	width:150px;
}
.normalsize input[type=checkbox]
{
	float:left;

    width:150px;
    height:20px;
}
/*====================================

.smallsize span,label
{
    float:left;
    width:150px;
    height:20px;
}
.smallsize label{white-space:nowrap}
.smallsize input[type=text]
{
	width:100px;
	margin:2px;
}
/*====================================*/
.spanlable
{
    float:left;
    width:100px;
    height:20px;
}

.tien-input input[type="text"]
{
    width:120px;
    height:20px;
    border-top-style:hidden;
    border-left-style:hidden;
    border-right-style:hidden;
    border-bottom: 1px solid black;
    
}
.amshowhide
{  
    height:auto;
    border:2px solid black;
    border-radius: 4px 4px 4px 4px;
    background-color:White;
    position:absolute;
    z-index:9;
}
.adshowhide
{
    width:600px;
    height:auto;
    border:2px solid black;
    border-radius: 4px 4px 4px 4px;
    background-color:White;
    position:absolute;
    z-index:10;
}


.number-group input[type=text]
{
	text-align:right;
}
.number
{
	text-align:right;
}

.Blank
{
	width:1000px;
	height:30px;
	margin:0px auto 0px auto;
}
#ButtonContainer
{
	height:30px;
	position:fixed;
	background-color:#EBEEF4;
	top:0px;
	border:1px solid rgba(29, 49, 91);
    border-radius: 2px 2px 2px 2px;
    opacity: 0.7;
    filter: alpha(opacity = 70);
}
#ButtonContainer input[type=button]
{
	height:30px;
	vertical-align:middle;
}
#ButtonContainer:hover
{
	opacity: 1;
    filter: alpha(opacity = 99);
}
        
#V6DetailGrid input[type="button"]:hover
{
    border:1px solid RGB(114,169,211) !important;
}
#V6DetailGrid input[type="button"]:focus
{
    border:1px solid RGB(114,169,211) !important;
}
#t_V6DetailGrid input[type=button]:disabled
{
	color:#D3D3D3;
}

.RedAlert
{
	color:Red !important;
	font-weight:bold;
    /*background-color:Red;*/
    -moz-box-shadow:0 0 8px Red;
    -webkit-box-shadow:0 0 15px Red;
    box-shadow:0 0 15px Red;
}
.RedAlert:hover
{
	color:Orange!important;
}

#messageBox
{
	display:none;
	position:fixed;
	top:20px;
	left:100px;
	width:200px;
	height:80px;
	border:1px solid red;
	background-color:White;
	color:Red;
	border-radius: 4px 4px 4px 4px;
	z-index:500;
}
#statusBox
{
	display:none;
	position:fixed;
	/*top:20px;*/
	bottom:5px;
	left:100px;
	width:500px;
	height:30px;
	border:1px solid red;
	background-color:White;
	color:Red;
	text-align:center;
	border-radius: 4px 4px 4px 4px;
	z-index:500;
}
.YellowAlert
{	
	border-color:Orange;
    /*background-color:Yellow;*/
    -moz-box-shadow:0 0 8px Yellow;
    -webkit-box-shadow:0 0 15px Yellow;
    box-shadow:0 0 15px Yellow;
}


.FullScreenLock
{
    display:none;
    position:fixed;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    background-color:Black;
    
    filter: alpha(opacity = 50);/*IE*/
    opacity: 0.5;/*FF*/
}
.V6DialogClose
{
	z-index:4;
}

.V6DialogHeader
{	
	font-weight:bold;
	z-index:3;
	cursor:default;
}
.Show{display:block!important;}
.Hide{display:none!important;}
.V6Dialog 
{
	background-color:White;
	border:3px outset blue;
	display:none;
	overflow:visible;
    position:absolute;
    left: 100px;
    top: 100px;
    width:auto;
    height:auto;
    border-radius:4px 4px 4px 4px;
}
