<div class="row">
    <div class="col-lg-12">
        <h1 id="cusGrp">
            @ViewBag.Title <small>
            Categorize your groups of customers in
            the way you have always wanted to do. More easily than ever and ever
            in your life.
        </small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="index.html"><i class="fa fa-dashboard"></i> Accounting</a></li>
        <li class="active"><i class="fa fa-table"></i> Customer groups</li>
    </ol>
</div>
</div><!-- /.row -->

