<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="V6ThuePostXmlApi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="V6ThuePostApi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <V6ThuePostXmlApi.Properties.Settings>
            <setting name="V6ThuePostApi_nuocbdgservice_PublishService" serializeAs="String">
                <value>https://3702288930-democadmin.vnpt-invoice.com.vn/PublishService.asmx</value>
            </setting>
            <setting name="V6ThuePostApi_PortalService_PortalService" serializeAs="String">
                <value>https://3702288930-democadmin.vnpt-invoice.com.vn/PortalService.asmx</value>
            </setting>
            <setting name="V6ThuePostApi_BusinessService_BusinessService"
                serializeAs="String">
                <value>https://3702288930-democadmin.vnpt-invoice.com.vn/BusinessService.asmx</value>
            </setting>
            <setting name="V6ThuePostXmlApi_V6ThuePostXmlApiS_AttachmentService"
                serializeAs="String">
                <value>https://nuocbdgservicedemo.vnpt-invoice.com.vn/AttachmentService.asmx</value>
            </setting>
        </V6ThuePostXmlApi.Properties.Settings>
        <V6ThuePostApi.Properties.Settings>
            <setting name="V6ThuePostApi_nuocbdgservice_PublishService" serializeAs="String">
                <value>https://nuocbdgservicedemo.vnpt-invoice.com.vn/PublishService.asmx</value>
            </setting>
            <setting name="V6ThuePostApi_PortalService_PortalService" serializeAs="String">
                <value>https://nuocbdgservicedemo.vnpt-invoice.com.vn/PortalService.asmx</value>
            </setting>
            <setting name="V6ThuePostApi_BusinessService_BusinessService"
                serializeAs="String">
                <value>https://nuocbdgservicedemo.vnpt-invoice.com.vn/BusinessService.asmx</value>
            </setting>
        </V6ThuePostApi.Properties.Settings>
    </applicationSettings>
</configuration>