<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="StartupPath" value="F:\Git\V6soft\Source Code\v6source\Winform\V6AccountingB\V6AccountingB\bin\Debug"/>
  </appSettings>
</configuration>
