<div class="row">
    <kendo-grid options="model.mainGridOptions">

    </kendo-grid>
</div>
<div class="row" style="margin-top: 10px">
    <div class="col-sm-6"><pre>{{model.testdata | json}}</pre></div>
    <div class="col-sm-6"><pre>{{model.selectedItem | json}}</pre></div>
</div>
