<div  class="portlet-body form">
    <form data-v6-customer-detail class="form-inline" role="form" name="v6form" novalidate
             action="http://localhost/services/api/customers/AddCustomer" method="post">
        <div class="form-group"
             ng-class="{ 'has-error' : v6form.code.$invalid && (!v6form.code.$pristine || showErrors) }">
            <label for="customerCode">Code</label>
            <div class="input-icon right flex-input-wrapper">
                <i class="fa fa-warning tooltips input-icon__icon" data-original-title="Customer code must bla bla bla"></i>
                <input data-v6typeahead type="text" class="form-control" id="txtMaKhachHang" name="MaKhachHang"
                       data-exp-width="300px" ng-model="models.customer.MaKhachHang" typeahead-popup-template-url="typeahead-khachhang"
                       data-ta-resource="customer" data-ta-field="MaKhachHang" data-ta-select="MaKhachHang, TenKhachHang">
            </div>
        </div>
        <div class="form-group" 
             ng-class="{ 'has-error' : v6form.name.$invalid && (!v6form.name.$pristine || showErrors) }">
            <label for="customerName">Name</label>
            <div class="input-icon right">
				<i class="fa fa-warning tooltips input-icon__icon" data-original-title="Customer name must bla bla bla"></i>
				<input data-v6typeahead type="text" class="form-control v6-typeahead" id="txtTenKhachHang" name="TenKhachHang"
                    required ng-maxlength="30" ng-model="models.customer.TenKhachHang"  typeahead-popup-template-url="typeahead-khachhang"
                    data-ta-resource="customer" data-ta-field="TenKhachHang" data-ta-select="MaKhachHang, TenKhachHang">
            </div>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Remember me
            </label>
        </div>
        <div>
            <button class="btn btn-default">Create</button>
        </div>
    </form>
    
    <script type="text/ng-template" id="typeahead-khachhang">
        <ul class="dropdown-menu" ng-show="isOpen() && !moveInProgress" ng-style="{top: position().top+'px', left: position().left+'px'}" style="display: block;" role="listbox" aria-hidden="{{!isOpen()}}">
            <li ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }" ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
                <a href="javascript:void(0)" tabindex="-1" ng-bind-html="match.model.MaKhachHang + ' - ' + match.model.TenKhachHang" ></a>
            </li>
        </ul>
    </script>

</div>