<div class="portlet-body form">
    @*<script type="text/x-kendo-template" id="template">
        <div class="toolbar">
            <div class="col-md-0">
                <a class="k-button" data-ui-sref="customer.new" href="javascript:;">Add</a>
            </div>
        </div>
    </script>
    *@

    <div>
        <a href="javascript:;" class="btn btn-sm green" data-ui-sref="customer.new">
            <i class="fa fa-plus"></i>Add
        </a>
    </div>

    @*<div kendo-toolbar k-options="model.toolbarOptions" class="k-header k-grid-toolbar"></div>*@
    <section data-v6-grid
             data-get-url="http://localhost/services/api/customers/list">

        <script type="text/x-v6-template">
            <col field="MaKhachHang" title="Mã khách hàng" width="120px" />
            <col field="TenKhachHang" title="Tên khách hàng" width="150px" />
            <col field="TenTiengAnh" title="Tên tiếng Anh" width="120px" />
            <col field="MaSoThue" title="Mã số thuế" width="100px" />
            <col field="DiaChi" title="Địa chỉ" width="150px" />
            <col field="DienThoai" title="Số điện thoại" />
            <col field="Fax" title="Số Fax" />
        </script>
    </section>

</div>


