<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--13PM each days "0 0 13 1/1 * ? *"-->
    <!--16:49PM each days "0 49 16 1/1 * ? *"-->
    <add key="Task0" value="0 0 13 1/1 * ? *" />
    <add key="Task1" value="0 22 16 1/1 * ? *" />
    <add key="Task2" value="0 22 16 1/1 * ? *" />
    <add key="Task3" value="0 22 16 1/1 * ? *" />
    <add key="Task4" value="0 22 16 1/1 * ? *" />
    <add key="Task5" value="0 22 16 1/1 * ? *" />
    <add key="Task6" value="0 22 16 1/1 * ? *" />
    <add key="Task7" value="0 22 16 1/1 * ? *" />
    <add key="Task8" value="0 22 16 1/1 * ? *" />
    <add key="Task9" value="0 22 16 1/1 * ? *" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>