USE [V6Accounting]
GO
/****** Object:  Table [v6soft].[alPhuong]    Script Date: 12/05/2014 12:51:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [v6soft].[alPhuong](
	[UID] [uniqueidentifier] NOT NULL,
	[Ma] [nvarchar](16) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[TinhTrang] [bit] NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
	[alQuanUID] [uniqueidentifier] NULL,
	[alTinhUID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_alPhuong] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_alPhuong_alQuanUID] ON [v6soft].[alPhuong] 
(
	[alQuanUID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_alPhuong_alTinhUID] ON [v6soft].[alPhuong] 
(
	[alTinhUID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [UN_alPhuong_MaPhuong] ON [v6soft].[alPhuong] 
(
	[Ma] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
ALTER TABLE [v6soft].[alPhuong]  WITH CHECK ADD  CONSTRAINT [FK_alPhuong_alQuan] FOREIGN KEY([alQuanUID])
REFERENCES [v6soft].[alQuan] ([UID])
GO
ALTER TABLE [v6soft].[alPhuong] CHECK CONSTRAINT [FK_alPhuong_alQuan]
GO
ALTER TABLE [v6soft].[alPhuong]  WITH CHECK ADD  CONSTRAINT [FK_alPhuong_alTinh] FOREIGN KEY([alTinhUID])
REFERENCES [v6soft].[alTinh] ([UID])
GO
ALTER TABLE [v6soft].[alPhuong] CHECK CONSTRAINT [FK_alPhuong_alTinh]
GO
ALTER TABLE [v6soft].[alPhuong] ADD  CONSTRAINT [DF_alPhuong_UID]  DEFAULT (newsequentialid()) FOR [UID]
GO
ALTER TABLE [v6soft].[alPhuong] ADD  CONSTRAINT [DF_alPhuong_status]  DEFAULT ((1)) FOR [TinhTrang]
GO
