<div class="portlet-body form">
    <script type="text/x-kendo-template" id="template">
        <div class="toolbar">
            <div class="col-md-0">
                <a class="k-button" href="\#" id="anc" >Command</a>
            </div>
        </div>
    </script>
    
    @*<div kendo-toolbar k-options="model.toolbarOptions" class="k-header k-grid-toolbar"></div>*@
    <section data-v6-grid
             data-get-url="http://localhost/services/api/customers/list"
         @*data-kendo-grid="myGrid"
         data-options="model.mainGridOptions" *@  >
                                                       
        <script type="text/x-v6-template">
            <col field="maKhachHang"  title="Mã khách hàng" width="120px" />
            <col field="tenKhachHang" title="Tên khách hàng" width="150px" />
            <col field="tenTiengAnh" title="Tên tiếng Anh" width="120px" />
            <col field="maSoThue" title="Mã số thuế" width="100px" />
            <col field="diaChi" title="Địa chỉ" width="150px" />
            <col field="dienThoai" title="Số điện thoại" />
            <col field="fax" title="Số Fax" />
        </script>
    </section>
    
</div>


